<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./head'); %>
  </head>

  <body>
    <a href="/movies">Back</a>
    <h1>Create movie</h1>
    <form method="post">
      <input type="text" placeholder="Name" name="name" required />
      <p>
        <select name="directorId" required>
          <option value="" disabled selected>Select a director</option>
          <% directorInstances.forEach(directorInstance => { %>
          <option value="<%= directorInstance.id %>">
            <%= directorInstance.firstName + ' ' + directorInstance.lastName %>
          </option>
          <% }); %>
        </select>
      </p>

      <fieldset>
        <legend>Select genres</legend>
        <% genreInstances.forEach(genreInstance => { %>
        <div>
          <input
            type="checkbox"
            name="genreId"
            value="<%= genreInstance.id %>"
            id="genre-id-input-<% genreInstance.id %>"
          />
          <label for="genre-id-input-<% genreInstance.id %>"
            ><%= genreInstance.name %></label
          >
        </div>
        <% }); %>
      </fieldset>

      <p>
        <button>Save</button>
      </p>
    </form>
  </body>
</html>
